{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main %}

<div class="container module-container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <img class="home-banner" width="100%" src="/static/math-banner.png" alt="banner">
            <table class="table table-content">
                <thead>
                <tr>
                    <th scope="col" style="width:8%">Week#</th>
                    <th scope="col" style="width:20%">Module name</th>
                    <th scope="col" style="width:57%">Description</th>
                    <th scope="col" style="width:15%">Link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Factors</td>
                    <td>Generate both factors and prime factors for a positive number</td>
                    <td><a class="btn btn-primary btn-sm" href="/factors" role="button">Practice</a></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>GCD & LCM</td>
                    <td>Calculate GCD, and LCM; Show bezout equation, and the Euclidean steps</td>
                    <td><a class="btn btn-primary btn-sm" href="/gcd" role="button">Practice</a></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Truth tables</td>
                    <td>Evaluate a proposition and generate its truth table</td>
                    <td><a class="btn btn-primary btn-sm" href="/truth" role="button">Practice</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Logical equivalence</td>
                    <td>Evaluate 2 propositions to check if they are logically equivalent</td>
                    <td><a class="btn btn-danger btn-sm" href="#" role="button">Coming soon!</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
