#main-container {
    border-width: 1px;
    border-color: gainsboro;
    border-style: solid;
}

.nav-username {
    margin-right: 20px;
}

#icon-navbar{
    margin-left: 20px;
}

.login-form .container{
    width: 50%;
}

.login-btn {
    width: 50%;
}

.login-btn-div {
    text-align: center;
    margin: 30px;
}

.login-logo,
.info-contact {
  text-align: center;
  margin: 50px 0 50px 0;
}

.about-container {
    margin: 20px 0 0px 0;
}

.about-header {
    text-align: center
}

.about-abstract {
    margin: 20px 0 20px 0;
}

.source-code,
.source-references {
    margin: 20px 0 20px 0;
}

.module-container{
    padding-top: 50px;
}

.factors-tbl,
.pair-tbl {
    width: 100%;
}
.factors-tbl th,
.factors-tbl td,
.pair-tbl th,
.pair-tbl td
{
    border: 1px solid gray;
}


.pair-tbl tr td:first-child {
    width: 30%;
}


.home-banner{
    padding-bottom: 30px;
}

.table-content td,
.table-content th
{
    text-align: center;
    border: 1px solid grey;
}

.truth-table td,
.truth-table th
{
    text-align: center;
}
